html {
  background-color: rgba(0, 70, 70, 1);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
}

.editor {
  background-color: rgba(220, 220, 220, 1);
  border-radius: 50px;
}

h1 {
  align-self: center;
  margin-top: 2rem;
  color: rgba(220, 220, 220, 1);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style:italic;
}

a {
  color: rgba(220, 220, 220, 1);
}

.attribution {
  position: fixed;
  bottom: 1rem;
  color: rgba(220, 220, 220, 1);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
}

.splash-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  left: 25%;
  top: 15%;
  background-color: rgba(20, 10, 50, 0.8);
  padding: 5%;
  border-radius: 50px;
}

.splash-modal * {
  margin: 10px;
}

.splash-modal .text {
  color: rgba(220, 220, 220, 1);
}

.editor {
  align-self: center;
  border-color: black;
  border-style: solid;
  border-width: 0.2rem;
  width: 15rem;
  padding: 2rem;
  margin-top: 0.5rem;
}

.grand-staff {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* cursor: none; */
  /* cursor: url("/img/notehead.png") 8 8, auto; */
}

.staff {
  display: flex;
  flex-direction: column;
}

.clef {
  position: absolute;
  width: 2rem;
  height: 6rem;
  pointer-events: none;
}

.staff-line-unit {
  background-color: black;
  height: 3px;
  display: flex;
  position: relative;
}

.staff-space-unit {
  height: 2px;
  display: flex;
  position: relative;
}

.staff-ledger-line-unit {
  height: 3px;
  display: flex;
  position: relative;
}

.staff-slot:hover {
  background-color: rgba(0, 139, 139, 0.3);
}

.ledger-line-mouseover.visible {
  width: 1.2rem;
  background-color: gray;
  position: relative;
  left: 4.4rem;
  top: 1.5px;
  transform: translate(-50%, -50%);
}

.ledger-line.visible {
  width: 1.3rem;
  background-color: black;
  position: relative;
  left: 6.75rem;
}

.note-column {
  display: grid;
  pointer-events: none;
  grid-template-columns: 20px 20px 20px;
  grid-template-rows:
    12px repeat(4, 3px 11px) repeat(5, 3px 10px) 4px 11px
    repeat(4, 3px 10px) repeat(5, 3px 11px) 3px;
  position: absolute;
  top: 8.6rem;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 1;
}

.clear-button {
  margin: 2rem;
  margin-bottom: 0.2rem;
  width: 3rem;
  height: 2rem;
  border-radius: 0.8rem;
  color: lightcyan;
  background-color: darkcyan;
}

label {
  color:rgba(20, 10, 50, 0.8);
}

.accidental-button {
  border-radius: 100rem;
  width: 3rem;
  height: 3rem;
  background-color: darkcyan;
}

.accidental-button.active {
  background-color: palevioletred;
}

.accidental-on-button {
  fill: lightcyan;
}

.slider {
  height: 1rem;
  border-radius: 1rem;
}

.sliders {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.labeled-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar {
  display: flex;
  flex-direction: column;
}

.toolbar-row {
  display: flex;
  justify-content: space-around;
  margin-top: 0.2rem;
}
